{% extends '_base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
  <h3>Data License</h3>
  <div>
    <p> All data used on this site is gathered from the <a href="https://klimalog.die-gdi.de/">German Development Institute / Deutsches Institut für Entwicklungspolitik (DIE)</a>.</p>

    <p>
      <i>  Pauw, W.P. et al (2016). NDC Explorer. German Development Institute / Deutsches Institut für Entwicklungspolitik (DIE), African Centre for Technology Studies (ACTS), Stockholm Environment Institute (SEI). DOI: 10.23661/ndc_explorer_2017_2.0 </i>

    </p>
  </div>

{% endblock content %}
