{% extends '_base.html' %}

{% block content %}

<h3>Nationally Determined Contributions</h3>

{% for ndc in ndc_list %}

<br>
<div class="card border border-secondary">

  <div class="card-header">
    <a class="card-text text-primary d-flex justify-content-between align-items-center"
        href="{{ ndc.get_absolute_url }}">
      <h4>Country: {{ ndc.country_name }}</h4>
      <span class="m-4 badge badge-primary badge-pill align-items-end">Submission Date: {{ ndc.Submission_date|date:'D, d M Y'}}</span>
    </a>
  </div>
  <div class='card-text pl-2 p-2'>
    <p class= "pl-2"><strong>Overview:</strong> The NDC for {{ ndc.country_code }} is an <strong><u>{{ndc.type_of_target_details}}</u></strong> commitment that includes <strong><u>{{ndc.quantified_adaptation_targets_details}}</u></strong> and is estimated to cost in the range of <strong><u>{{ndc.costs_of_ccm_details}}</u></strong>.</p>
  </div>
  <div class='card-text pl-2 pb-2'>
    <a class="more-link btn" href="{{ ndc.get_absolute_url }}">More Details »</a>
  </div>

</div>


{% endfor %}
{% endblock content %}
