{% extends '_base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
  <h3>About the NDC Portal</h3>
  <p> The NDC Portal exists to alleviate the challenge of information asymmetry that currently plagues the international community in respect to UNFCCC Parties<a class="p-1" href="https://www4.unfccc.int/sites/NDCStaging/Pages/Home.aspx">Nationally Determined Contributions (NDCs)</a>.</p>
  <p> This app follows an API-first design, and is intended to provide interested parties with the information needed to analyze the similarities and differences between Nationally Determined Contributions. Using data compiled by the<a class='p-1' href="https://klimalog.die-gdi.de/">German Development Institute</a>, each NDC is evaluated by <u><b>138</b></u> ranking qualifiers and metrics, which practitioners can utilize to gain insights, assess progress, gauge ambition levels, and craft policy.</p>
  <p> For more information, please visit the<a class="p-1" href="{% url 'NDC_list' %}">NDC List</a> for a general overview, view the<a class="p-1" href="{% url 'schema-swagger-ui' %}">fully browsable-API</a>, and refer to the<a class="p-1" href="{% url 'schema-redoc' %}">Documentation Page</a>for a detailed overview of the API!</p>
{% endblock content %}
