{% extends '_base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
  <h3>About the NDC Portal</h3>
  <p> This site exists to solve the challenge of information asymmetry that currently plagues the international community in respect to UNFCCC Parties Nationally Determined Contributions. </p>
  <p> Please refer to the<a class="p-2" href="{% url 'schema-redoc' %}">Documentation Page</a>for a detailed overview of the API, or visit the<a class="p-2" href="{% url 'NDC_list' %}">NDC List</a>for more info!</p>
{% endblock content %}
