body {
  background-color: #e1e1e3;
}

h1 {
  color: blue;
}

h2 {
  color: #000000;
  font-size: 64px;
  padding-top: .75em;
}

.navbar{
  padding-top: 0.2em;
  margin-top: 0px;
}

.navbar-brand{
  font-size: 1.5em;
  font-family: 'Tajawal', sans-serif;
}

.navbar-1 .navbar-toggler-icon{
background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=047BFC');
}


.special {
  background-color: #E5F6FF;
  opacity: 0.75;
  border-radius: 15px;
  text-align: center;
}

.feed-post {
  background: #FFF;
  border-radius: 1rem;
  margin-bottom: 2rem;
  max-width: 30rem;
  padding: 1rem;
}
